<div id="task_<%= task.id %>">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=task.id%>">
        <%= task.title %>
        <div class="pull-right"><%= raw task.tags.map(&:name).map{|t|  link_to t, tag_with_todo_path(t), class: "label label-info"}.join(" ") unless task.complete? %></div>
        <div class="pull-right"><%= raw task.tags.map(&:name).map{|t|  link_to t, tag_with_done_path(t), class: "label label-info"}.join(" ") if task.complete? %></div>
      </a>
    </div>
    <div id="collapse<%=task.id%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Description: </strong><%= raw task.description %><br />
        <div class="btn-group">
          <%= link_to "edit", edit_task_path(task), class: 'btn btn-small' if can? :update, task%> |
          <%= link_to "destroy", task, method: :delete, confirm: "Are you sure?", remote: true, class: 'btn btn-small' %>|
          <%= link_to "finish", finish_task_path(task), method: :put, remote: true, class: 'btn btn-small' unless task.complete?%>
          <%= link_to "unfinish", finish_task_path(task), method: :put, remote: true, class: 'btn btn-small' if task.complete? %>
        </div>
      </div>
    </div>
  </div>
</div>
